@{
    ViewBag.Title = "IT Dashboard";
    Layout = "~/Views/IT/_ITLayout.cshtml";
}

<div id="ITDashboard">

    <h3><strong>IT Dashboard</strong></h3>

    <a href="@Url.Action("Stores")">
        <div class="material-icons">store</div>
        <p>Store Management</p>
    </a>
    <a href="@Url.Action("Users")">
        <div class="material-icons">supervisor_account</div>
        <p>User Management</p>
    </a>

</div>


