@using AES.Web.Models;
@model IEnumerable<StoreModel>
@{
    ViewBag.Title = "Store Management";
    Layout = "~/Views/IT/_ITLayout.cshtml";
}

<h2>Store Management</h2>


<div id="management">
    <div class="hidden hide">
        <div id="newTemplate">
            @{Html.RenderPartial("_StoreEdit", new StoreModel());}
        </div>

        <div id="NewStoreURL">@Url.Action("NewStore")</div>
        <div id="GetStoreListURL">@Url.Action("GetStoreList")</div>
        <div id="DeactivateStoreURL">@Url.Action("DeactivateStore")</div>
    </div>
    <div class="col-md-5">
        <div id="List">
            @{ Html.RenderPartial("_StoresList", Model); }
        </div>
        <div class="btn btn-default" id="addNewStore">Add New Store</div>
    </div>

    <div id="editBox" class="col-md-5"></div>
</div>
<div class="clearfix"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/commonscripts.js", "~/Scripts/Management.js")
}