<div class="form-group">
    <div class="bottom-left">
        @*@Html.ActionLink("Next", "NextSection", "Application", new { @class = "btn btn-default" })*@
        <input type="submit" value="Next Section" class="btn btn-default" />
    </div>
</div>
