<div class="form-group">
    <div class="bottom-left">
        <input type="submit" value="@ViewBag.NextSection" class="btn btn-default" />
        @Html.ActionLink("Cancel Application", "CancelApplication", "Application", 
                        new { @class = "padLeft", onclick = "return confirm('Are you sure you want to cancel your application?');"})
    </div>
</div>
