@{
    ViewBag.Title = "Application Submitted";
    Layout = "~/Views/Shared/_LayoutNavbarOnlyLogo.cshtml";
}

<div id="appSubmitted">
    <h1>
        Your application has been submitted.
    </h1>
    <h2>
        Thank you for applying at AES!
    </h2>
</div>

<script type="text/javascript">
    setTimeout(function () {
        window.location.href = "/";
    }, 10000);
</script>