@model AES.Web.Models.ProfileViewModel

@{
    ViewBag.Title = "NextSection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NextSection</h2>

<h3>NextSection</h3>


<p>@Model.FirstName</p>
<p>@Model.LastName</p>
<p>@Model.DOB</p>
<p>@Model.SSN</p>