@using AES.Web.Models
@model IEnumerable<ReferencesViewModel>

@{
    ViewBag.Title = "References";
    ViewBag.NextSection = "Proceed to Questionaire";
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<h2>References</h2>

<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("References", "Application", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { @class = "form-horizontal", role = "form", @id = "enumForm" }))
            {
                @Html.AntiForgeryToken()
                <h4>Enter any references you have.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div id="list">
                    @foreach (ReferencesViewModel reference in Model)
                    {
                        Html.RenderPartial("PartialReference", reference);
                    }
                </div>

                <div class="form-group">
                    <a href="@Url.Action("GetReferenceItem")" id="addItem" class="col-md-2">Add another reference</a>
                </div>

                Html.RenderPartial("_Navigation");
            }

        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/AddDynamicRow.js")
}