@using AES.Web.Models
@model IEnumerable<WorkHistoryViewModel>

@{
    ViewBag.Title = "Work History";
    ViewBag.NextSection = "Proceed to Education";
}

<h2>Work History</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("WorkHistory", "Application", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
            new { @class = "form-horizontal", role = "form", @id = "enumForm" }))
        {
            @Html.AntiForgeryToken()
            <h4>Where have you worked before?</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div id="list">
                @foreach (WorkHistoryViewModel job in Model)
                {
                    Html.RenderPartial("PartialWorkHistory", job);
                }
            </div>
            <div class="form-group">
                <a href="@Url.Action("GetWorkHistoryItem")" id="addItem" class="control-label col-md-2">Add another company</a>
            </div>

            Html.RenderPartial("_Navigation");
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/AddDynamicRow.js")
}
