@model AES.Web.Models.HiringManagerModel

@{
    ViewBag.Title = "DashboardHM";
    Layout = "~/Views/Shared/_LayoutDashHM.cshtml";
}

@using (Html.BeginForm("DashboardHM", "HiringManager", FormMethod.Post))
{
    <button type="submit" name="InterviewList" class="btn btn-info btn-lg" value="Applicant Interview List">
        Applicant Interview List
    </button>
}

@*<div id="DashboardHM">
    <div class="container-fluid">
        <div class="jumbotron text-center bg-grey">
            <h2>Hiring Manager Dashboard</h2>
        </div>
        <div class="col-md-6">
            <div class="LeftHalfHM">
                <h2>Hello</h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="RightHalfHM">
                <h2>World</h2>
            </div>
        </div>
    </div>
</div>*@

@*<div id="DashboardHM">
    <div class="container-fluid">
        <div class="jumbotron text-center bg-grey">
            <h2>Hiring Manager Dashboard</h2>
        </div>

        <div class="col-md-6">
            <div class="container">
                <div class="LeftHalfHM">
                    Hello
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="container">
                <div class="RightHalfHM">
                    World
                </div>
            </div>
        </div>
    </div>
</div>*@