@using AES.Web.Models
@model IEnumerable<HiringManagerModel>

@{
    ViewBag.Title = "InterviewList";
    Layout = "~/Views/Shared/_LayoutDashHM.cshtml";
}

<h2>Interview List</h2>

<div>
    @foreach (HiringManagerModel dhs in Model)
    {
        Html.RenderPartial("PartialInterviewList", dhs);
    }
</div>
