@using AES.Web.Models
@model IEnumerable<JobModel>

@{
    ViewBag.Title = "RequestPositions";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("DashboardHM", "HiringManager", FormMethod.Post))
{
    <div id="RequestPositions">
        <div>
            <div class="col-md-3">
                <h3>Positions</h3>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Positions...
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        @foreach (JobModel jobs in Model)
                        {
                            <li><a href="#">@jobs.Title</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <h3>Notes</h3>
                <div id="RequestNotes">
                    <textarea class="form-control" name="RequestNotes" rows="10" id="notes"></textarea>
                </div>
            </div>

            <div id="RequestButton" class="col-md-offset-8">
                <button type="submit" class="btn btn-default">Submit Request</button>
            </div>
       

        </div>
    </div>
}

@*@using (Html.BeginForm("DashboardHM", "HiringManager", FormMethod.Post))
{
    <div id="RequestPositions">
            <div class="col-md-3">
                <h3>Positions</h3>
                @foreach (JobModel jobs in Model)
                {
                    Html.RenderPartial("PartialRequestPositions", jobs);
                }

            <div class="col-md-9">
                <h3>Notes</h3>
                <div id="RequestNotes">
                    <textarea class="form-control" name="RequestNotes" rows="10" id="notes"></textarea>
                </div>
            </div>

            <div id="RequestButton" class="col-md-offset-8">
                <button type="submit" class="btn btn-default">Submit Request</button>
            </div>


        </div>
    </div>
}*@
@section Scripts {
    @Scripts.Render("~/Scripts/commonscripts.js")
}