body {
    padding-top: 50px;
    padding-bottom: 20px;
    counter-reset: itemCounter;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

textarea {
    padding:2px!important;
}

#appSubmitted {
    background: url("/Content/Images/thanks.jpeg") no-repeat center center;
    color:white;
    text-align:center;
    padding:3em 0;
    margin:2em 0;
}

.padLeft {padding-left:1em;}
.appTitle {padding:0 0 .5em .5em;}
.no-overflow {overflow:hidden;}
.bottom-spacing {margin-bottom:1em;}

.staticText {font-size:1.2em;}
.staticText span {font-weight:bold;}

#list .enumItem + .enumItem h3 {margin-top:2em;}
#list list.enumItem h3::after {
    counter-increment: itemCounter;
    content:' ' counter(itemCounter);
}

.enumSectionHeader {position:relative;}
.enumSectionHeader a {position:absolute;bottom:0;}

.inset {padding-left:2em;}

/*Custom styling for tiles*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 400;
}

p, span, a, ul, li, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

strong {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	font-weight: 300;	
}

strong {
  font-weight: 400;
}

.tile {
    width: 100%;
    border-radius: 20px;
    color: white;
    display: inline-block;
    box-sizing: border-box;
    background: #5133AB;
    padding: 20px;
    margin-bottom: 30px;
}

.title {
		margin-top: 0px;
        text-align: center;
}

.tile:hover {
			background: #6600cc;
            box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}		