body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    counter-reset: itemCounter;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

textarea {
    padding:2px !important;
}

#appSubmitted {
    background: url("/Content/Images/thanks.jpeg") no-repeat center center;
    color:white;
    text-align:center;
    padding:3em 0;
    margin:2em 0;
}

.padLeft {padding-left:1em;}
.appTitle {padding:0 0 .5em .5em;}
.no-overflow {overflow:hidden;}
.bottom-spacing {margin-bottom:1em;}

.staticText {font-size:1.2em;}
.staticText span {font-weight:bold;}

#list .enumItem + .enumItem h3 {margin-top:2em;}
#list list.enumItem h3::after {
    counter-increment: itemCounter;
    content:' ' counter(itemCounter);
}

.enumSectionHeader {position:relative;}
.enumSectionHeader a {position:absolute;bottom:0;}

.inset {padding-left:2em;}

/******************************************************************************/
/*Custom styling for Hiring Specialist Dashboard*/
/******************************************************************************/

#DashHSLayout body {
    padding-top: 50px;
}

#DashboardHS body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 400;
    padding-top: 50px;
}

#DashboardHS p, a, ul, li, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

#DashboardHS strong {
	font-weight: 600;
}

#DashboardHS h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	font-weight: 300;	
}

#DashboardHS strong {
  font-weight: 400;
}

#DashboardHS .tile {
    background-color: #f9f9f9;
    width: 300px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 25px;
    text-align: center;
}

#DashboardHS .title {
    margin-top: 0px;
    text-align: center;
    color: #9b0505;
}

#DashboardHS .tile:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}	
	
#DashboardHS .tile .staticText span{
    text-align: center;
    font-weight: bold;
    font-size: 4em;
}

/******************************************************************************/
/*Static Application Styling*/
/******************************************************************************/

#StaticApplicationTheme .jumbotron {
        background-color: #222222; /* Grey */
        color: darkslategray;
        /*padding: 100px 25px;*/
        padding: 3em 1.5em;
    }

#StaticApplicationTheme .jumbotron h1 {
        line-height: 1;
        color: cadetblue;
    }

#StaticApplicationTheme .bg-grey {
        background-color: #f6f6f6;
    }

#StaticApplicationTheme .bg-darkgrey{
        background-color: #747474;
    }

#StaticApplicationTheme .bg-white{
    background-color: white;
}

#StaticApplicationTheme .container-fluid {
        /*padding: 60px 50px;*/
        padding: 4em 3em;
    }

#StaticApplicationTheme .logo {
        /*font-size: 200px;*/
        font-size: 8em;
    }

#StaticApplicationTheme .col-sm-4 {
        text-align: center;
        /*margin: 25px 0;*/
        margin: auto;
    }

#StaticApplicationTheme .navbar {
        margin-bottom: 0;
        z-index: 9999;
        border: 0;
        font-size: .75em;
        /*line-height: 1.42857143;*/
        letter-spacing: .3em;
        border-radius: 0;
        background-color: #222222;
        font: Arial, Helvetica, sans-serif;
    }

#StaticApplicationTheme .navbar li a, .navbar .navbar-brand {
        color: #fff;
    }

#StaticApplicationTheme .navbar-nav li a:hover {
        color: #222222;
        background-color: #fff;
    }

#StaticApplicationTheme .navbar-nav li.active a {
        color: #222222;
        background-color: #fff;
}

#StaticApplicationTheme .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #222222;
        background-color: #222222;
    }

#StaticApplicationTheme{
        font-family: Arial, Helvetica, sans-serif;
	    font-size: 1.5em;
	    line-height: 1.3em;
	    font-weight: 400;
        width: 100%;
        background-color:#222222;
    }

#StaticApplicationTheme h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 1em;
    }

#StaticApplicationTheme .slideanim {visibility:hidden;}

#StaticApplicationTheme .slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

#StaticApplicationTheme .glyphicon-align-center::before{
    content:none;
}

#StaticApplicationTheme #backtotop{
    text-align: center;
}

#availability .container-fluid{
    padding: 0em 0em 0em 3em;
}

#questionnaire .container-fluid{
    padding: 0em 0em 0em 3em;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/******************************************************************************/
/*Staffing Expert Dashboard Styling*/
/******************************************************************************/

#ajaxSpinner {position:absolute;top:0;right:0;bottom:0;left:0;z-index:999;background:rgba(255, 255, 255, .5) url('/Content/Images/spinner.gif') no-repeat center center;}
#ajaxSpinner {position:fixed;top:0;right:0;bottom:0;left:0;z-index:999;background:rgba(255, 255, 255, .5) url('/Content/Images/spinner.gif') no-repeat center center;}
#availableJobs .h3 {margin:0;}
#cancelCover {position:fixed;top:0;right:0;bottom:0;left:0;z-index:5;background:rgba(255, 255, 255, .5);}

#ITDashboard {width:450px;margin:auto;overflow:hidden;}
#ITDashboard > a {display:block;width:200px;height:200px;background:#ededed;float:left;border:1px solid #ababab;padding:10px;text-align:center;color:#555;}
#ITDashboard > a:first-child {margin-right:50px;}
#ITDashboard > a:hover {color:inherit;border-color:#777;}
#ITDashboard a div {font-size:120px;line-height:120px;padding-top:10px;}
#ITDashboard a p {font-weight:bold;line-height:20px;}

#jobRequests #approvedRequests .accept {display:none;}
#jobRequests #rejectedRequests .reject {display:none;}
#jobRequests .opening {position:relative;padding-bottom:1em;border-bottom:2px solid lightgray;}
#jobRequests .opening h4 {font-weight:bold}
#jobRequests .opening h4:hover + .shortDesc,  #jobRequests .opening .shortDesc:hover {display:block;}
#jobRequests .opening .accept {background:green;color:white;}
#jobRequests .opening .arButton {line-height:25px;text-align:center;border-radius:10px;margin-right:1em;font-size:14px;cursor:pointer;
                                 user-select:none;-moz-user-select:none;-webkit-user-select:none;}
#jobRequests .opening .reject {background:red;color:white;}
#jobRequests .opening .requestID {display:none;}
#jobRequests .opening .rejectBox {display:none;position:absolute;left:0;right:0;padding:10px;overflow:hidden;background:#f5f5f5;border:2px solid #dedede;z-index:9;margin-top:.5em;}
#jobRequests .opening .rejectBox textarea {width:100%;margin-bottom:5px;}
#jobRequests .opening .rejectBox .cancelReject {background:#777;color:white;}
#jobRequests .opening .rejectBox .reallyReject {background:red;color:white;margin:0;}
#jobRequests .opening .requestNotes:not(:empty), #jobRequests .opening .responseNotes:not(:empty) {margin:0 0 1em 20px;max-height:50px;overflow:auto;}
#jobRequests .opening .requestNotes:not(:empty)::before {content:url('/Content/Images/question.png');position:absolute;left:0px;margin-top:2px;}
#jobRequests .opening .responseNotes:not(:empty)::before {content:url('/Content/Images/comment.png');position:absolute;left:0px;margin-top:2px;}
#jobRequests .opening .shortDesc {display:none;position:absolute;background:#fcffd8;border:1px solid #cbc8a3;z-index:10;padding:.5em;margin:-10px 0;}

#staffingExpert {clear:both;overflow:hidden;}
#staffingExpert #editBox .editBox {display:block;}
#staffingExpert #editBox .editBox input[type=radio], #staffingExpert #editBox .editBox input[type=checkbox] {margin:10px 0;}
#staffingExpert #editBox .editBox .multipleChoiceCheck, #staffingExpert #editBox .editBox .multipleChoiceRadio {display:none;}
#staffingExpert #editBox .editBox .multipleChoice {display:none;}
#staffingExpert #editBox .editBox .multipleChoice.typeRadio, #staffingExpert #editBox .editBox .multipleChoice.typeCheckbox {display:block;}
#staffingExpert #editBox .editBox .typeCheckbox .multipleChoiceCheck {display:initial;}
#staffingExpert #editBox .editBox .typeRadio .multipleChoiceRadio {display:initial;}
#staffingExpert #editing {font-style:italic;color:black;}
#staffingExpert #JobList {overflow:hidden;padding:0;}
#staffingExpert #noJobSelected {display:block;line-height:40px;text-align:center;}
#staffingExpert #noJobSelected + div + div + div {display:none;}
#staffingExpert #noJobSelected[class] + div + div + div {display:block;}
#staffingExpert #QuestionList {overflow:hidden;padding:0 0px;}

#staffingExpert .btn {margin-top:5px;margin-bottom:5px;}
#staffingExpert .button {line-height:30px;padding:0 10px;border-radius:7px;background:lightgray;border:1px solid darkgray;
                         margin:5px;font-size:1.2em;font-weight:bold;cursor:pointer;text-align:center;}
#staffingExpert .editBox {display:none;}
#staffingExpert .full-btn {width:100%;}
#staffingExpert .no-italic {font-style:normal;}
#staffingExpert .questionTitle img {visibility:hidden;}
#staffingExpert .questionTitle:hover img {visibility:visible;}
#staffingExpert .title {font-size:1.2em;font-weight:bold;line-height:24px;padding:12px 2px;margin:0;border-bottom:2px solid lightgray;font-style:italic;}
#staffingExpert .title:first-child {padding-top:5px;}
#staffingExpert .title img {float:left;margin-right:.5em;cursor:pointer;}
#staffingExpert .title span {display:block;overflow:hidden;cursor:pointer;}
#staffingExpert .editBox + .title {color:gray;font-style:normal;}
#staffingExpert .editBox + .title {color:gray;font-style:normal;}

#management #List .item {margin-bottom:1em;padding-bottom:1em;border-bottom:2px solid lightgray;}
#management #List .item form {display:none;}
#management #List .item p {margin:0 0 0 5px;}
#management #List .item p span {vertical-align:middle;}
#management #List .item .btn {margin-top:.5em;}
#management #List .item .btn-danger {margin:.5em .5em 0 5px;}
#management #List .item .deactivate, #userManagement #userList .user .edit {float:left;}
#management #List .item .name {background:#fff;padding:5px 0 0 4px;margin:0;}
#management #List .item .userName {font-size:1.2em;font-weight:bold;}

#management #editBox {margin-left:15px;}
#management #editBox h3 {margin:0 5px;}
#management #editBox input[type=submit] {margin-top:10px;}
#management #editBox label {text-align:left;margin:0 0 2px 5px;}
#management #editBox .form-group {margin-bottom:0;}
#management #editBox .nameEdit {display:none;}
#management #editBox .newUser .name {display:none;}
#management #editBox .newUser .nameEdit {display:block;}

#buttons .glyphicon-align-center::before{
    content:none;
}

#InterviewPage .container-fluid {
    text-align: center;
}

#InterviewPage .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";   
    float: right;       
    color: grey;
}

#InterviewPage .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";   
}

/*Eliminating padding for text box in questionnare*/
#qtextarea {
    padding-left: 0px;
}

/******************************************************************************/
/*Hiring Manager Dashboard Affix Styling*/
/******************************************************************************/

.affix {
    top: 0;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #6e1612;
    border-color: #6e1612;
}

.affix a {
    color: white;
    padding: 15px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.affix-top a {
    padding: 25px !important;
}

.affix + .container-fluid {
    padding-top: 95px;
}

#DashHMLayout #Affix .container-fluid {
    background-color: maroon;
    background-image: url(Images/Gradient_Maroon_Background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 50.5em;
    padding: 3em;
}

#DashHMLayout #Affix h1 {
    text-align: center;
}

#DashHMLayout #Affix .jumbotron {
    background: transparent;
    padding: 1em;
}

/******************************************************************************/
/*Hiring Manager Dashboard Layout Styling*/
/******************************************************************************/

#DashHMLayout {
    background-color: white;
}

#DashHMLayout body {
    padding-top: 0px;
}

/*Logo in Hiring Manager Dashboard Affix*/
#DashHMLayout img {
    width: 20em;
    height: 10em;
}

/*Logo in Hiring Manager Dashboard navbar*/
#DashHMLayout .navbar-nav img {
    width: 44px;
    height: 22px;
}

#DashHMLayout .navbar {
    border-radius: 0px;
    /*Keeps the navbar always on top*/
    z-index: 9999;
    margin-bottom: 0px;
}

#DashHMLayout .navbar-inverse .navbar-nav li a {
    color: #fff;
}

#DashHMLayout .navbar-inverse .navbar-nav li a:hover {
     color: #222222;
     background-color: #fff;
}

#DashHMLayout ul li .li-no-hover:hover {
    background-color:transparent;
    color:blue;
}

#DashHMLayout .navbar-nav li.active a {
        color: #222222;
        background-color: #fff;
}

/*Prevent a sudden jump when navbar transforms*/
#DashHMLayout .nav-wrapper {
    min-height: 5.3em;
}

/*Round button in affix to scroll down*/
#DashHMLayout #Affix .btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    position: center;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

/*Align the round button in the center*/
#DashHMLayout #Affix #circlebutton {
    text-align: center;
}

#DashHMLayout #Affix .btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

#DashHMLayout #Affix .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

#DashHMLayout #Affix .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

#DashHMLayout #Affix .affix-heading {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

/******************************************************************************/
/*Hiring Manager Dashboard Styling*/
/******************************************************************************/

/*View Applicant Information Section*/
#DashboardHM #ViewApplicantInfo .container-fluid {
    padding-top: 10em;
    padding-bottom: 10em;
}


#DashboardHM #ViewApplicantInfo .container-fluid {
    background-color: white;
    background-image: url(Images/Application_Background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 800px;
    padding-top: 6.5em;
}

#DashboardHM #ViewApplicantInfo .jumbotron {
    background: #6e1612;
    padding: 1em;
    text-align: center;
    color: white;
    opacity:.8;
    margin-left: auto;
}

#DashboardHM #ApplicantInformationList .tile {
    background-color: #f9f9f9;
    position: page;
    width: 23em;
    padding: 2em;
    border: 1px solid black;
    border-radius: 25px;
    margin: 25px;
    text-align: center;
    opacity: .9;
}

#DashboardHM #ApplicantInformationList .title {
    margin-top: 0px;
    text-align: center;
    color: #9b0505;
}

#DashboardHM #ApplicantInformationList  .tile:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}	
	
#DashboardHM #ApplicantInformationList .tile .staticText span{
    text-align: center;
    font-weight: bold;
    font-size: 4em;
}

/*Applicant Information Absolute Div*/
@media (min-width: 768px){
  #AppInfoDiv {
    position: absolute;
    top: 72em;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: auto; 
    background: transparent;
  }
}

#AppInfoDiv {
  background-color: transparent;
  text-align: center;
  height:72%;
}

/*Interview Section Styling*/

#DashboardHM #InterviewSection .jumbotron {
    background: #6e1612;
    padding: 1em;
    text-align: center;
    color: white;
    opacity:.8;
    margin-left: auto;

}

#DashboardHM #InterviewSection .container-fluid {
    background-color: white;
    background-image: url(Images/Interview_Background_0.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 59em;
    padding-top: 5em;
}

#DashboardHM #InterviewSection .container {
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    opacity: .95;
    max-height: 40em;
    min-height: 40em;
    overflow-y: auto;
}

#DashboardHM #InterviewSection .tile {
    background-color: #f9f9f9;
    position: page;
    width: 15em;
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    margin: 25px;
    text-align: center;
}

#DashboardHM #InterviewSection .title {
    margin-top: 0px;
    text-align: center;
    color: #9b0505;
    font-size: medium;
}

#DashboardHM #InterviewSection  .tile:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}	

/*Request Positions Section Styling*/
#DashboardHM #RequestPositions .container-fluid {
    background-color: white;
    background-image: url(Images/Job_Opportunities_Background.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
    min-height: 59em;
    padding-top: 5em;
}

#DashboardHM #RequestPositions .jumbotron {
    background: #6e1612;
    padding: 1em;
    text-align: center;
    color: white;
    opacity:.8;
    margin-left: auto;
}




