@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav  navbar-right">
        <li>
            @Html.ActionLink("Log Out", "Login", "EmployeeLogin")
        </li>
    </ul>
}
