<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISecuritySvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61658/SecuritySvc.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISecuritySvc" contract="SecurityService.ISecuritySvc"
                name="BasicHttpBinding_ISecuritySvc" />
        </client>
    </system.serviceModel>
</configuration>