@model AES.Web.Models.HiringSpecialistModel

@* Tiles *@
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="tile">
                <h3 class="title">@Model.FirstName @Model.LastName</h3>
                <p>
                    <a href="#" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-earphone"></span> Call
                    </a>
                    @Html.TextBoxFor(m => m.ETA, new { @class = "container" })
                </p>

            </div>
        </div>
    </div>
</div>