@model AES.Web.Models.HiringSpecialistModel

@* Tiles *@

<div id="PartialApplicantsAwaitingCall">
    <div class="col-md-4">
        <div class="tile">
            <h3 class="title">@Model.FirstName @Model.LastName</h3>
            <p>
                @using (Html.BeginForm("CallPage", "HiringSpecialist", FormMethod.Post))
                {
                    <input type="hidden" name="ApplicantID" value=@Model.ApplicantID />
                    <button type="submit" class="btn btn-success btn-lg" value="Call">
                        <i class="glyphicon glyphicon-earphone"></i> Call
                    </button>
                    <span class="staticText" id="eta">@Model.ETA</span>
                }
            </p>
        </div>
    </div>
</div>


