@{
    ViewBag.Title = "Begin Application Process";
    Layout = "../Shared/_LayoutEmpty.cshtml";
}

<div id="background_cycler">
    <div id="cycle_img0"></div>
    <div id="cycle_img1"></div>
    <div id="cycle_img2"></div>
    <div id="cycle_img3"></div>
</div>

<div id="HomePage">
    <div id="BeginButton">
        @Html.ActionLink("Begin", "AvailableJobs", "JobOpenings", null, new { @class = "btn-custom"})
    </div>

    <div class="box">
        <div class="ribbon"><span><img src="~/Content/Images/AESLogo_White.svg" /></span></div>
    </div>

</div>