@{
    ViewBag.Title = "HomePage";
    Layout = "../Shared/_LayoutEmpty.cshtml";
}

<div id="HomePage">
    <div class="animated">
        <img src="~/Content/Images/Application_Background.jpg"/>
    </div>

    <div id="img2">

    </div>
    <div id="BeginButton">

    </div>
</div>

