@{
    ViewBag.Title = "HomePage";
    Layout = "../Shared/_LayoutEmpty.cshtml";
}

<div id="background_cycler">

    @*<script type="text/javascript">
            $('#background_cycler').hide();//hide the background while the images load, ready to fade in later
        </script>*@

    @*<img src="~/Content/Images/HomeBackground_0.jpg" id="cycle_img0" alt="" />
        <img src="~/Content/Images/HomeBackground_1.jpg" id="cycle_img1" alt="" />
        <img src="~/Content/Images/HomeBackground_2.jpg" id="cycle_img2" alt="" />
        <img src="~/Content/Images/HomeBackground_3.jpg" id="cycle_img3" alt="" />*@

    <div id="cycle_img0"></div>
    <div id="cycle_img1"></div>
    <div id="cycle_img2"></div>
    <div id="cycle_img3"></div>
</div>

<div id="HomePage">
    <div id="BeginButton">
        @using (Html.BeginForm("HomePage", "Home", FormMethod.Post))
            {
            <button type="submit" name="BeginButton" class="btn btn-custom" value="True">Begin</button>
        }
    </div>

    <div class="box">
        <div class="ribbon"><span><img src="~/Content/Images/AESLogo_White.svg" /></span></div>
    </div>

</div>


@section Scripts {
    @*@Scripts.Render("~/Scripts/BackgroundFade.js"*@
}
